@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Chalktastic";
	src: url("/fonts/Chalktastic.ttf");
}

@font-face {
	font-family: "FredokaOne";
	src: url("/fonts/FredokaOne.ttf");
}

.megawide {
	letter-spacing: 0.45em;
	text-shadow: 0.75em 0.2em 0.9em #080731;
}